@model UserModel
@{
    ViewData["Title"] = "Login";
}

<div class="container-sm">
    <div class="alert alert-success" role="alert">
        Welcome to HCM Portal
    </div>

    <section class="">
        <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
            <div class="container">
                <div class="row gx-lg-5 align-items-center">
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <h3 class="my-5 display-3 fw-bold ls-tight">
                            <span class="text-primary">login</span>
                        </h3>
                        <p style="color: hsl(217, 10%, 50.8%)">
                            About HCM Portal
                        </p>
                    </div>

                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <div class="card">
                            <div class="card-body py-5 px-md-5">
                                <form id="loginForm">
                                    <div class="form-outline mb-4">
                                        <input type="email" id="Email" class="form-control" />
                                        <label class="form-label" for="Email">Email address</label>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="password" id="Password" class="form-control" />
                                        <label class="form-label" for="Password">Password</label>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block mb-4">
                                        <i class="bi bi-person-up"></i>&nbsp;&nbsp;Login
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts
{
    <script type="text/javascript">
        //Authenticate RESTAPI call on form submit with the emailaddress and password input fields' values as the parameters:
        //displays error toast message if the credentials are wrong else navigates to home page. 
        $(document).ready(function () {
            $(function () {

                $("form").on("submit", function (event) {
                    event.preventDefault();
                    var userID = $("#Email").val();
                    var password = $("#Password").val();
                    $.ajax({
                        type: "POST",
                        url: "/Account/Authenticate",
                        data: { email: userID, password: password },

                        success: function (data) {
                            var user = data.value;
                            if (user.isAuthenticated) {
                                toastr.success('Logged in as ' + user.firstName + ' ' + user.lastName)
                                window.location.href = '@Url.Action("Index", "Home")'
                            }
                            else {
                                toastr.error('Invalid User Credentials', 'Authentication Failed',)
                            }
                        },
                        error: function (ex) {
                            alert('in error');
                        }
                    });
                });
            });
        });
    </script>
}
