@model EmployeeModel
@{
    ViewData["Title"] = "Add Employee";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Employee" asp-action="EmployeeDirectory">Employee Directory</a></li>
        <li class="breadcrumb-item active">Add Employee</li>
    </ol>
</nav>

<div class="container-fluid">
    <div class="alert alert-success" role="alert">
        New Employee Details
    </div>
</div>

<div class="container-fluid">
    <form id="myForm" class="row g-3 needs-validation">
        <div class="col-md-4">
            <label for="FirstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="FirstName" name="FirstName" required />
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4">
            <label for="MiddleName" class="form-label">Middle Name</label>
            <input type="text" class="form-control" id="MiddleName" name="MiddleName" />
        </div>
        <div class="col-md-4">
            <label for="LastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="LastName" name="LastName" required />
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-6">
            <label for="EmailAddress" class="form-label">Email Address</label>
            <input type="email" class="form-control" id="EmailAddress" name="EmailAddress" required />
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-6">
            <label for="Password" class="form-label">Password</label>
            <input type="password" class="form-control" id="Password" name="Password" required />
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4">
            <label for="DepartmentID" class="form-label">Department</label>
            <select id="DepartmentID" class="form-select" name="DepartmentID">
                <option selected>Choose...</option>
                <option>...</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="RoleID" class="form-label">Role</label>
            <select id="RoleID" class="form-select" name="RoleID">
                <option selected>Choose...</option>
                <option>...</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="ManagerID" class="form-label">Manager</label>
            <select id="ManagerID" class="form-select" name="ManagerID">
                <option selected>Choose...</option>
                <option>...</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="Salary" class="form-label">Annual Salary</label>
            <input type="number" class="form-control" id="Salary" name="Salary" required>
        </div>
        <div class="col-md-6">
            <label for="BiWeeklyPayAmount" class="form-label">Bi-Weekly Pay Amount</label>
            <input type="number" class="form-control" id="BiWeeklyPayAmount" name="BiWeeklyPayAmount" />
        </div>
        <div class="col-md-4">
            <label for="BankName" class="form-label">Bank Name</label>
            <input type="text" class="form-control" id="BankName" name="BankName" />
        </div>
        <div class="col-md-4">
            <label for="AccountNumber" class="form-label">Account Number</label>
            <input type="text" class="form-control" id="AccountNumber" name="AccountNumber" />
        </div>
        <div class="col-md-4">
            <label for="RoutingNumber" class="form-label">Routing Number</label>
            <input type="text" class="form-control" id="RoutingNumber" name="RoutingNumber" />
        </div>
        <div class="col-12 align-content-center">
            <button type="submit" class="btn btn-primary"><i class="bi bi-plus-square-fill"></i>&nbsp;&nbsp;Save</button>
        </div>
    </form>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                var bootstrapButton = $.fn.button.noConflict()
                $.fn.bootstrapBtn = bootstrapButton;
                var controller = 'Employee';
                LoadDropdown('DepartmentID', controller, 'GetAllDepartments');
                LoadDropdown('ManagerID', controller, 'GetallManagers');
                LoadDropdown('RoleID', controller, 'GetAllRoles');

                $("form").on("submit", function (event) {
                    event.preventDefault();
                    var emailAddress = $("#EmailAddress").val();
                    $.ajax({
                        type: "GET",
                        url: "/Employee/CheckEmployeeExists?emailAddress=" + emailAddress,
                        success: function (response) {
                            if (response.isExisting) {
                                toastr.error('EmailAddress is already assigned to another employee', 'Invalid Email');
                                $("#EmailAddress").focus();
                                return false;
                            }
                            else {
                                $.ajax({
                                    type: "POST",
                                    url: "/Employee/SaveEmployee",
                                    data: $("#myForm").serialize(),

                                    success: function (data) {
                                        toastr.success('Employee ' + $("#FirstName").val() + " " + $("#LastName").val() + ' added successfully!', 'Confirmation');
                                    },
                                    error: function (ex) {
                                        alert('in error');
                                    }
                                });
                            }
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
                });
            });
        });

        function LoadDropdown(id, controller, operation) {

            $.ajax({
                "type": "GET",
                "url": "/" + controller + "/" + operation,
                contentType: "application/json; charset=utf-8",
                datatype: "json",

                success: function (data) {
                    $('#' + id).empty();
                    $('#' + id).append($('<option>').text('---').attr('value', "-1"));

                    $.each(data, function (index, item) {
                        $('#' + id).append($('<option>').text(item.text).attr('value', item.value));
                    });
                },
                error: function (ex) {
                    alert('in error');
                }
            });
        }
    </script>
}
