@{
    ViewData["Title"] = "Employee Directory";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active">Employee Directory</li>
    </ol>
</nav>
<div class="container-fluid">
    <div class="alert alert-success" role="alert">
        <a asp-controller="Employee" asp-action="AddEmployee" class="btn btn-primary"><i class="bi bi-plus-square-fill"></i>&nbsp;&nbsp;New Employee</a>
    </div>
</div>

<div class="container-fluid">
    <div>
        <table id="tblEmps" class="table table-striped table-hover" style="width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Department</th>
                    <th>Role</th>
                    <th>Manager</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            $(function () {
                var bootstrapButton = $.fn.button.noConflict()
                $.fn.bootstrapBtn = bootstrapButton;
                LoadEmployeeData();
            });
        });

        function LoadEmployeeData() {

            $.ajax({
                "type": "GET",
                "url": "/Employee/GetAllEmployees",
                contentType: "application/json; charset=utf-8",
                datatype: "json",

                success: function (data) {
                    debugger;

                    tblEmps = $("#tblEmps").DataTable({
                        "data": data,
                        scrollY: '400px',
                        scrollCollapse: true,
                        destroy: true,

                        "columnDefs": [
                            {
                                "targets": [0],
                                "data": "employeeID",
                                "visible": false,
                                "searchable": false,
                                "orderable": false,
                            },
                            {
                                "targets": [1],
                                "data": "firstName",
                                "className": "dt-left"
                            },
                            {
                                "targets": [2],
                                "data": "lastName",
                                "className": "dt-left"
                            },
                            {
                                "targets": [3],
                                "data": "emailAddress",
                                "className": "dt-left"
                            },
                            {
                                "targets": [4],
                                "data": "departmentName",
                                "className": "dt-left"
                            },
                            {
                                "targets": [5],
                                "data": "roleName",
                                "className": "dt-left"
                            },
                            {
                                "targets": [6],
                                "data": "manager",
                                "className": "dt-left"
                            },
                            {
                                "targets": [7],
                                "data": null,
                                "orderable": false,
                                "searchable": false,
                                "defaultContent": '<a href="#" class="btn btn-sm btn-row" role="button" title="Employee Details" name="ViewEmployee" id="viewDViewEmployeeetails"><i class="bi bi-file-check"></i></a>'
                            },
                            {
                                "targets": [8],
                                "data": null,
                                "orderable": false,
                                "searchable": false,
                                "defaultContent": '<a href="#" class="btn btn-sm btn-row" role="button" title="Employee Benefits" name="ViewBenefits" id="ViewBenefits"><i class="bi bi-list-task"></i></a>'
                            },
                            {
                                "targets": [9],
                                "data": "employeeID",
                                "orderable": false,
                                "searchable": false,
                                "render": function (data, type, row, meta) {
                                    if (type === 'display') {
                                        data = '<a href="/Employee/EditEmployee?employeeID=' + data + '" class="btn btn-sm" role="button" title="Edit Details" name="Edit" id="Edit"><i class="bi bi-pencil"></i></a>';
                                    }
                                    return data;
                                }
                            },
                            {
                                "targets": [10],
                                "data": null,
                                "orderable": false,
                                "searchable": false,
                                "defaultContent": '<a href="#" class="btn btn-sm btn-row" role="button" title="Delete" name="Delete" id="Delete"><i class="bi bi-trash"></i></a>'
                            }
                        ]
                    });

                    $("#tblEmps").on("click", ".btn-row", function (e) {
                    //$('#tblEmps').find('a').click(function (e) {

                        var action = $(this).attr("Name");
                        var tr = $(this).closest('tr');
                        var row = tblEmps.rows(tr);
                        var employeeID = row.data()[0].employeeID;
                        var name = row.data()[0].firstName;

                        if (action == "ViewEmployee") {
                            e.preventDefault();
                            $.ajax({
                                type: "GET",
                                url: "/Employee/ViewEmployee?employeeID=" + employeeID,
                                success: function (response) {
                                    $('#dialog-view').html(response);
                                    $("#dialog-view").dialog({
                                        title: "View Details",
                                        resizable: false,
                                        height: "auto",
                                        width: 700,
                                        height:600,
                                        modal: true,
                                        buttons: {
                                            "Close": function () {
                                                $("#dialog-view").dialog("close");
                                            }
                                        }

                                    });
                                },
                                failure: function (response) {
                                    alert(response.responseText);
                                },
                                error: function (response) {
                                    alert(response.responseText);
                                }
                            });
                        } else if (action == "ViewBenefits") {
                            alert('View Benefits');
                            e.preventDefault();
                            $.ajax({
                                type: "GET",
                                url: "/Employee/ViewBenefits?employeeID=" + employeeID,
                                success: function (response) {
                                    $('#dialog-view').html(response);
                                    $("#dialog-view").dialog({
                                        title: "View Benefits",
                                        resizable: false,
                                        height: "auto",
                                        width: 400,
                                        modal: true,
                                        buttons: {
                                            "Close": function () {
                                                $("#dialog-view").dialog("close");
                                            }
                                        }
                                    });
                                },
                                failure: function (response) {
                                    alert(response.responseText);
                                },
                                error: function (response) {
                                    alert(response.responseText);
                                }
                            });
                        }

                        else if (action == "Delete") {
                            e.preventDefault();

                            $("#dialog-confirm").html("<i style='color: red;' class='bi bi-exclamation-circle-fill'></i>&nbsp;&nbsp;Are you sure to delete the selected Employee?");
                            $("#dialog-confirm").dialog({
                                title: "Delete " + name,
                                resizable: false,
                                height: "auto",
                                width: 400,
                                modal: true,
                                buttons: {
                                    "Yes": function () {
                                        $.ajax({
                                            type: "POST",
                                            url: "/Employee/DeleteEmployee?employeeId=" + employeeID,
                                            success: function (response) {

                                                $("#dialog-confirm").dialog("close");
                                                LoadEmployeeData();
                                                toastr.success('Employee ' + name + ' is Deleted', 'Confirmation',)
                                            },
                                            failure: function (response) {
                                                alert(response.responseText);
                                            },
                                            error: function (response) {
                                                alert(response.responseText);
                                            }
                                        });
                                    },
                                    "No": function () {
                                        $("#dialog-confirm").dialog("close");
                                    }
                                }
                            });
                        }
                    });
                },
                error: function (ex) {
                    alert('in error');
                }
            });
        }
    </script>
}


