@model SkillModel

@{
    ViewData["Title"] = "Add Role";
}

<div class="container-fluid">
    <form id="frmEditRole" class="row g-3">
        <div class="col-md-6">
            <label for="SkillName" class="form-label">Skill Name</label>
            <input type="text" class="form-control" id="SkillName" required />
        </div>
        <div class="col-12 align-content-center">
            <button type="button" id="btnSaveNewSkill" class="btn btn-primary"><i class="bi bi-floppy"></i>&nbsp;&nbsp;Save</button>
        </div>
    </form>
</div>