@{
    ViewData["Title"] = "Skills";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active">Skills</li>
    </ol>
</nav>
<div class="container-fluid">
    <div class="alert alert-success" role="alert">
        <button type="button" id="btnAddNewSkill" class="btn btn-primary"><i class="bi bi-plus-square-fill"></i>&nbsp;&nbsp;New Skill</button>
    </div>
</div>

<div class="container-fluid">
    <div>
        <table id="tblSkills" class="table table-striped table-hover" style="width:100%">
            <thead>
                <tr>
                    <th>Skill ID</th>
                    <th>Skill Name</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>


@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            HCMModule.InitializeSkills();
        });
    </script>
}



