@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    <div class="alert alert-success" role="alert">
        Hello! <span class="badge rounded-pill bg-info text-dark">@Context.User.Identity.Name</span>
    </div>
    <div class="card text-bg-light mb-12" ">
        <div class="card-header">HCM Portal</div>
        <div class="card-body">
            <h5 class="card-title">Welcome to HCM Portal</h5>
            <p class="card-text">
                The term “human capital” was first used in the 1950s and 60s as computing began to accelerate the automation that had begun in the industrial age. Economists and business people began to see employees not as replaceable units completing routine tasks, but as knowledge workers with specific skills and talents that could fuel business growth. Not surprisingly, the term returned to prominence with the rise of the internet in the late 1990s. New technologies were rapidly automating a whole new set of business processes. While the internet changed the how employers and managers worked and collaborated. All of this change meant that workforce leaders had to transform how they went about attracting, retaining, and engaging talent in an evolving set of job roles.
            </p>
        </div>
    </div>
</div>



